<main id="main">
    <section id="play-button">
      <article id="moving-article">
          <ng-template [ngIf]="lastThMovies.length > 0" [ngIfElse]="noLastThMovies">
            <ng-container>
              <div #allTheseThings *ngFor="let movie of lastThMovies;">
                <div class="mySlides fade">
                    <img width="auto" height="380px" src="{{ movie.poster }}" style="vertical-align: middle;">
                  <div class="text">{{ movie.title }}</div>
                </div>
              </div>
            </ng-container>
            <button (click)="toMovie()" style="position: absolute; right: 5%; top: 50%;">To Mihaela</button>
            <span (click)="plusSlides(1)" style="width: 40px; height: auto; background-color:red; position: absolute; right: 0; padding: 1%; font-size: x-large;">
              <span style="padding: 35% 35%;">&#10095;</span></span>
          </ng-template>

          <ng-template #noLastThMovies>
            <div class="mySlides fade">
                <img width="420" height="345" src="https://homestaymatch.com/images/no-image-available.png">
            </div>
          </ng-template>
      </article> 
    </section>
</main>



