<!-- <nav id="navBar">
  <ul id="nav-ul">
    <li class="dropdown">
      <button class="nav-buttons"><i class="fa fa-home"></i> Home</button>

    </li>
    <li class="dropdown">
      <button class="dropbtn nav-buttons" ><i class="fa fa-film"></i> Movies</button>
      <div class="dropdown-content">
        <a (click)="allMovies()">All movies</a>
        <a (click)="watchedMovies()">Watched</a>
        <a (click)="wishListMovies()">Wish list</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropbtn nav-buttons" ><i class="fa fa-calendar"></i> Events</button>

      <div class="dropdown-content">
        <a href="home/events">All</a>
        <a href="#">Create</a>
      </div>
    <li class="dropdown">
        <button class="dropbtn nav-buttons"><i class="fa fa-user"></i> Profile</button>
        <div class="dropdown-content">
          <a>Settings</a>
          <a>Logout</a>
        </div>
  </li>

  </ul>
</nav> -->


<nav id="navBar">
 
  <ul id="nav-ul">
    <li class="dropdown">
      <div class="left-home">
        <a routerLink="/home" class="dropbtn">CINEMANIA</a>
      </div>
    </li>
    
    <li class="dropdown">
      <a class="dropbtn">Films</a>
      <div class="dropdown-content">
        <a (click)="allMovies()">All films</a>
        <a (click)="watchedMovies()">Watched</a>
        <a (click)="wishListMovies()">Wish list</a>
      </div>
    </li>

    <li class="dropdown">
      <a class="dropbtn" routerLink="/home/events">Events</a>
      <!-- <div class="dropdown-content">
        <a href="#">All</a>
        <a href="#">Create</a>
      </div> -->
    </li>

    <li class="dropdown">
      <a routerLink="/home/user" class="dropbtn">Profile</a>
      <!-- <div class="dropdown-content">
        <a routerLink="/home/user">Profile</a>
        <a routerLink="/home/films">Settings</a>
      </div> -->
    </li>

    <li class="dropdown">
      <a routerLink="/login">Log out</a>
    </li>
    <li>
      <div class="searchBox">
        <input class="searchInput" type="text" name="" placeholder="Search">
        <button class="searchButton" href="#">
          <i class="material-icons">search</i>
        </button>
      </div>
    </li>
  </ul>

</nav>


<router-outlet></router-outlet>