<div id="movie-review">
    <span style="width: 50%; margin: 0; display: inline-grid;">        
        <img class="images" src="{{ movie.poster }}" alt="" style="height: 100%; width: auto;">

        <div style="color: white; display: inline-block;"> 
            <div style="padding: 1em;">Watched by: </div>
            <span *ngFor="let us of usersWatched;">
                <span class="chip">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Person" width="96" height="96">
                    <span> {{ us }} </span>
                </span>
            </span>
        </div>
    </span>
     <span class="movie-info" style="display: inline-grid;">
        <p style="color: white; margin: 0;">{{ movie.category }}</p>
        <h3 style="color: white;">{{ movie.title }}</h3>
        <p style="color: white;" class="p-text">{{ movie.description }}</p>

        <div class="wrapper">
            <span class="bold-p">Year: </span> <span class="normal-p">{{ movie.dateOfCreation }}</span>
        </div>
        <div class="wrapper">
            <span class="bold-p">Director: </span> <span class="normal-p">{{movie.director}}</span>
        </div>
        <!-- <div class="wrapper">
            <span class="bold-p">Writers: </span> <span class="normal-p">Bruse Wayne,Jhon Snow</span>
        </div> -->
        <div class="wrapper">
            <span class="bold-p">Starring: </span> <span class="normal-p">{{ movie.actors }}</span>
        </div>
        <div class="wrapper">
            <span class="bold-p">Duration: </span> <span class="normal-p">{{ movie.duration }}</span>
        </div>

        <!-- STARS -->
        <div class="rating">
            <div>★</div>
            <div>★</div>
            <div>★</div>
            <div>★</div>
            <div>★</div>
        </div>

        <div class="tooltip" style="margin: 2em;"> 
            <i class="fa fa-heart" style="font-size: x-large;" (click)="addToWishList($event)"></i> 
            <span class="tooltiptext"> Add to WishList </span>
        </div>



    </span>
</div>

<div id="app">
    <div id="comments">
        <h1>Comments</h1>
    <div>
        <div id="comment-wrapper">
            <label>
                <input type="text" name="name" id="name" value="{{ loggedUserName }}" disabled>
            </label>
            <label>
                <textarea name="comment" id="comment" placeholder="Comment"></textarea>
            </label>
            <input type="submit" class="button" value="POST" (click)="addMovieComment()" style="outline: 0;">
        </div>
        <div id="comments-list" *ngFor="let c of movie.comments;">
            <ng-template [ngIf]="admin"> mitko e pich</ng-template>
            <div class="comment">
                <h4 (click)="gotoUserProfile(c.name)">{{ c.name }}</h4>
                <p class="timestamp">{{ c.date }}</p>
                <p>{{ c.comment }}</p>
            </div>
        </div>
    </div>
</div>































<!-- <div >
{{movie.title}}
</div>

<div id="header_container">
    <h2>CINEMANIA</h2>
    <h1>Presents</h1>
    <div class="clearfloat"></div>
</div>

<div >
    <iframe width="560" height="315" 
    src="https://www.youtube.com/embed/K_MWrdBYAgU" frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    
</div>
<div>
    <img src="{{ movie.image }}" alt="" />
</div>
<div>

</div>


<div id="header">
    <h1>CINEMANIA PRESENTS</h1>
  </div>
  <div >
    <iframe width="560" height="315" 
    src="https://www.youtube.com/embed/K_MWrdBYAgU" frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <div>
    <img width="560" height="315" src="https://image.tmdb.org/t/p/w500_and_h282_face/5HjzYTihkH7EvOWSE7KcsF6pBMM.jpg" alt="" />
  </div>
  <div>
      <li>ROMANCE</li>
      <li><a>Title</a></li>
      <li><a>Resume:</a></li>
  </div> -->