<div style="margin: auto; width: 100%; text-align: center; ">
    <ng-template [ngIf]="movies.length > 0" [ngIfElse]="noMovies">
        <ng-container >
            <span *ngFor="let movie of movies" class="gallery-image" (click)="selectMovie(movie.title)" routerLink="/home/movies/movie">
                <div class="img-box">
                    <img src="{{ movie.poster }}" alt="" />
                    <div class="transparent-box">
                        <div class="caption">
                        <p>{{movie.title}}</p>
                        <p class="opacity-low">{{movie.categorie}}</p>
                        </div>
                    </div> 
                </div>
            </span>
        </ng-container>
    </ng-template>
</div>

<ng-template #noMovies style="left: 50%; top: 50%;">Nema filmi brato ;)</ng-template>

